@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background: #767b98
    
}

.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: max-content;
    margin: auto;
    margin-top: 130px;
}


.tela{
    background:#25283d;
    border-radius: 10px;
    color: #fff;
    font-size: 3rem;
    width: 500px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 35px;
}

.teclas{
    background: #212436e3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 25px 8px 25px 8px;
    gap: 15px;
    flex-wrap: wrap;
    width:500px;
}

.botao{
    background: #3a3f5d;
    color: #fff;
    border-radius: 10px;
    border: none;
    border-bottom: 4px solid #353855;
    font-size: 2rem;
    width: 95px;
    padding: 2px;
    cursor:pointer;
}

.botao:active{
    border: none;
}

.botao-adic,
.botao-mult,
.botao-div,
.botao-sub,
.botao-reset{
    color: #ff3563;
    background-color: #4e546e;
    border-color: #42465c;
}

.botao-reset,
.botao-igual{
    width: 205px;
  
}

.botao-igual{
    background: #ff3563;
    border-color: #da2d55;
}


